/*
Pour voir en version MOBILE, aller dans "Outils de développement" puis pour les cas suivants:
-pour Google Chrome, cliquez sur l'image miniature "Mobile" (Toggle Device Toolbar) 
[Google Chrome est le plus adapté pour voir les différentes Résolutions d'écran. Il y a plus de choix+peut monter/descendre.]
-pour Firefox, cliquez sur l'image miniature (Vue Adaptative)
-pour Internet Explorer EDGE, cliquez sur le mot "Emulation" puis sur "Appareil"
-pour Internet Explorer, Désolé Rien Trouver pour avoir un aperçu mobile
*/

/*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
@media all and (max-width: 650px) {
    body {
        width: auto;
    }
    
    #container {
        flex-direction: column;
    }

    /* *************************************************
    * Div class="personnel"
    ************************************************ */
    .personnel {
        background-color: #FF3D00;
        width: 100%;
    }
    
    .personnel picture {
        margin: 0;
        height: 200px;
    }
    
    .personnel picture > img {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    } 

    .personnel > .moi {
        background-color: #3E2723;
        color: #1976D2;
    }

    .personnel > .liste {
        margin-left: 10px;
    }

    .personnel > .liste > div .web {
        margin-left: 50px;
    }

    .personnel > .liste > div .skype {
        margin-right: 50px;
    }

    .icones i {
        padding: 10px;
        font-size: 30px;
    }

    /* *************************************************
    * Div class="professionnel"
    ************************************************ */
    .professionnel {
        background-color: #66BB6A;
    }

    .professionnel .center {
        border: none;
        margin: 0;
    }

    /* **********************************************************
    * Div class="professionnel" > class center > class perso
    ********************************************************** */
    .perso p {
        font-size: 40px;
    }

    .perso .small {
        font-size: 1.1rem;
    }

    /* ************************************************************
    * Div class="professionnel" > class center > class formation
    ************************************************************ */
    .formation .cone {
        background-color: #1E88E5;
        border-top: 3px solid gold;
    }

    .formation .school {
        margin: 0 20px;
    }

    .formation .school .date,
    .formation .school .ecole {
        padding: 0 20px;
    }

    .formation .school:nth-child(1) {
        border-bottom: 3px solid gold;
    }

    .formation li:nth-child(2) {
        border-bottom: 3px solid gold;
    }

    .formation li:nth-child(3) {
        border-bottom: 3px solid gold;
    }

    .formation li:nth-child(4) {
        border-bottom: 3px solid gold;
    }

    .formation .school .date > i {
        display: none;
    }

    .formation .school .ecole > h2 {
        font-size: 20px;
    }

    /* ************************************************************
    * Div class="professionnel" > class center > class experience
    ************************************************************* */
    .experience .cone {
        background-color: #AB47BC;
    }

    .experience .exp {
        margin: 0 20px;
    }

    .experience .exp .date,
    .experience .exp .date-lg,
    .experience .exp .ecole {
        padding: 0 20px;
    }

    .experience .exp:nth-child(1) {
        border-bottom: 3px solid gold;
    }
    
    .experience .exp:nth-child(2) {
        border-bottom: 3px solid gold;
    }

    .experience .exp:nth-child(3) {
        border-bottom: 3px solid gold;
    }

    .experience .exp:nth-child(4) {
        border-bottom: 3px solid gold;
    }

    .experience .exp .date > i,
    .experience .exp .date-lg > i {
        display: none;
    }
    
    .experience .exp .ecole > h2 {
        font-size: 20px;
    }

    /* *************************************************************
    * Div class="professionnel" > class center > class recommandation
    ************************************************************* */
    .recommandation .cone {
        border-top: 3px solid gold;
        background-color: #ef5350;
    }

    .recommandation .agence .name {
        padding: 0 20px;
    }

}