/*
Pour voir en version MOBILE, aller dans "Outils de développement" puis pour les cas suivants:
-pour Google Chrome, cliquez sur l'image miniature "Mobile" (Toggle Device Toolbar) 
[Google Chrome est le plus adapté pour voir les différentes Résolutions d'écran. Il y a plus de choix+peut monter/descendre.]
-pour Firefox, cliquez sur l'image miniature (Vue Adaptative)
-pour Internet Explorer EDGE, cliquez sur le mot "Emulation" puis sur "Appareil"
-pour Internet Explorer, Désolé Rien Trouver pour avoir un aperçu mobile
*/

/*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
@media all and (max-width: 650px) {

    /* *************************************************
    * Div class="personnel"
    ************************************************ */

    .personnel picture {
        margin: 0;
        height: 200px;
    }

    .personnel picture>img {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }

    .personnel>.liste {
        margin-left: 10px;
    }

    .personnel>.liste>div .web {
        margin-left: 50px;
    }

    .personnel>.liste>div .skype {
        margin-right: 50px;
    }

    /* *************************************************
    * Div class="professionnel"
    ************************************************ */
    .professionnel .center {
        /* border: 3px solid olive; */
        margin: 0 20px;
    }

    /* ***********************************************************
    * Div class="professionnel" > class center > class formation
    *********************************************************** */
    /*
    .formation .school {
        margin: 0 20px;
    }

    .formation .school .date-nor,
    .formation .school .date-lg,
    .formation .school .ecole {
        padding: 0 20px;
    } */

    /* *************************************************************
    * Div class="professionnel" > class center > class experience
    ************************************************************* */
    /*
    .experience .exp {
        margin: 0 20px;
    }

    .experience .exp .date-nor,
    .experience .exp .date-lg,
    .experience .exp .ecole {
        padding: 0 20px;
    } */

    /* ************************************************************
     * Regroupement des propriétés css des class :
     * class Formation ET class Experience
     * PAR
     * section .mobile et/ou .flexbox XXX
     *********************************************************** */

    section .mobile {
        margin: 0 20px;
    }

    section .flexbox .date,
    section .flexbox .ecole {
        padding: 0 20px;
    }

    /* *************************************************************
    * Div class="professionnel" > class center > class recommandation
    ************************************************************* */

    .recommandation .agence .name {
        padding: 0 20px;
    }

}