/*
Pour voir en version MOBILE, aller dans "Outils de développement" puis pour les cas suivants:
-pour Google Chrome, cliquez sur l'image miniature "Mobile" (Toggle Device Toolbar) 
[Google Chrome est le plus adapté pour voir les différentes Résolutions d'écran. Il y a plus de choix+peut monter/descendre.]
-pour Firefox, cliquez sur l'image miniature (Vue Adaptative)
-pour Internet Explorer EDGE, cliquez sur le mot "Emulation" puis sur "Appareil"
-pour Internet Explorer, Désolé Rien Trouver pour avoir un aperçu mobile
*/

/*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
@media all and (max-width: 1024px) {

    #container {
        flex-direction: column;
    }

    /* *************************************************
    * Div class="personnel"
    ************************************************ */
    .personnel {
        width: 100%;
    }

    .personnel picture {
        margin: 10px auto;
    }

    .personnel>.liste {
        margin-left: -50px;
    }

    .personnel>.liste>div {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }

    .personnel>.liste>div .web {
        margin-left: 100px;
    }

    .personnel>.liste>div .skype {
        margin-right: 100px;
    }

    .personnel>.loisir {
        position: relative;
        width: 100%;
    }

    .icones i {
        padding: 10px;
        font-size: 30px;
    }

    /* *************************************************
    * Div class="professionnel"
    ************************************************ */
    .professionnel {
        width: 100%;
    }

    /*
    .professionnel .center {
        border: none;
    } */

    /* *******************************************************
    * Div class="professionnel" > class center > class perso
    ******************************************************** */
    .perso {
        text-align: center;
    }

    .perso .small {
        font-size: 1.1rem;
    }

    /* ************************************************************
     * Regroupement des propriétés css des class :
     * class Formation ET class Experience ET class recommandation
     * PAR
     * section .cone XXX
     *********************************************************** */
    /* Ancien code */
    /*
    .formation .cone,
    .experience .cone,
    .recommandation .cone {
        background-color: #FB8C00;
        color: #3E2723;
        border-bottom: none;
    } */

    section .cone {
        background-color: #FB8C00;
        color: #3E2723;
        border-bottom: none;
    }

    /* Ancien code */
    /*
    .formation .cone i,
    .experience .cone i,
    .recommandation .cone i {
        font-size: 30px;
        margin-left: 20px;
    } */

    section .cone i {
        font-size: 30px;
        margin-left: 20px;
    }

    /* Ancien code */
    /*
    .formation .cone h2,
    .experience .cone h2,
    .recommandation .cone h2 {
        font-size: 20px;
    } */

    section .cone h2 {
        font-size: 20px;
    }

    /* Ancien code */
    /*
    .formation .school .date-nor>i,
    .formation .school .date-lg>i,
    .experience .exp .date-nor>i,
    .experience .exp .date-lg>i {
        display: none;
    } */

    section .flexbox .date>i {
        display: none;
    }

    /* Ancien code */
    /*
    .formation .school .ecole>h2,
    .experience .exp .ecole>h2 {
        font-size: 20px;
    } */

    section .flexbox .ecole>h2 {
        font-size: 20px;
    }

    /* Ancien code */
    /*
    .formation .school:nth-child(1) {
        border-bottom: 3px solid #FB8C00;
    }

    .formation .school:nth-child(2) {
        border-bottom: 3px solid #FB8C00;
    }

    .formation .school:nth-child(3) {
        border-bottom: 3px solid #FB8C00;
    } */

    .formation .school:not(:nth-child(5)) {
        border-bottom: 3px solid #FB8C00;
    }

    /* Ancien code */
    /*
    .experience .exp:nth-child(1) {
        border-bottom: 3px solid #FB8C00;
    }

    .experience .exp:nth-child(2) {
        border-bottom: 3px solid #FB8C00;
    }

    .experience .exp:nth-child(3) {
        border-bottom: 3px solid #FB8C00;
    }

    .experience .exp:nth-child(4) {
        border-bottom: 3px solid #FB8C00;
    } */

    .experience .exp:not(:nth-child(5)) {
        border-bottom: 3px solid #FB8C00;
    }

    .recommandation .agence {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}