/*
Pour voir en version MOBILE, aller dans "Outils de développement" puis pour les cas suivants:
-pour Google Chrome, cliquez sur l'image miniature "Mobile" (Toggle Device Toolbar) 
[Google Chrome est le plus adapté pour voir les différentes Résolutions d'écran. Il y a plus de choix+peut monter/descendre.]
-pour Firefox, cliquez sur l'image miniature (Vue Adaptative)
-pour Internet Explorer EDGE, cliquez sur le mot "Emulation" puis sur "Appareil"
-pour Internet Explorer, Désolé Rien Trouver pour avoir un aperçu mobile
*/

/*Pour tous les Mobiles qui ont une largeur maximale du Périphérique*/
@media all and (max-width: 1024px) {
    body {
        position: absolute;
        width: auto;
    }
    
    #container {
        flex-direction: column;
    }

    /* *************************************************
    * Div class="personnel"
    ************************************************ */
    .personnel {
        width: 100%;
    }
    
    .personnel picture {
        margin: 10px auto;
    }

    .personnel > .loisir {
        position: relative;
        width: 100%;
    }

    .personnel > .liste {
        margin-left: -50px;
    }

    .personnel > .liste > div {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }
    
    .personnel > .liste > div .web 
    {
        margin-left: 100px;
    }

    .personnel > .liste > div .skype
    {
        margin-right: 100px;
    }
    
    .icones i {
        padding: 10px;
        font-size: 30px;
    }

    /* ************************************************
    * Div class="professionnel"
    ************************************************ */
    .professionnel {
        width: 100%;
    }
    /*
    .professionnel .center {
        border: none;
    } */

    /* *******************************************************
    * Div class="professionnel" > class center > class perso
    ******************************************************* */
    .perso {
        text-align: center;
    }

    .perso p {
        font-size: 40px;
    }

    .perso .small {
        font-size: 1.1rem;
    }

    /* *************************************************************
    * Div class="professionnel" > class center > class formation
    ************************************************************** */
    .formation .cone {
        background-color: var(--color-secondary-first);
        color: var(--color-secondary-second);
        border-bottom: none;
    }
    
    .formation .cone i {
        font-size: 30px;
    }

    .formation .cone h2 {
        font-size: 20px;
    }

    .formation .school:nth-child(1) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .formation .school:nth-child(2) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .formation .school:nth-child(3) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .formation .school .date > i {
        display: none;
    }

    .formation .school .ecole > h2 {
        font-size: 20px;
    }

    /* *************************************************************
    * Div class="professionnel" > class center > class experience
    ************************************************************* */
    .experience .cone {
        background-color: var(--color-secondary-first);
        color: var(--color-secondary-second);
        border-bottom: none;
    }
    
    .experience .cone i {
        font-size: 30px;
    }

    .experience .cone h2 {
        font-size: 20px;
    }

    .experience .exp:nth-child(1) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .experience .exp:nth-child(2) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .experience .exp:nth-child(3) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .experience .exp:nth-child(4) {
        border-bottom: 3px solid var(--color-secondary-first);
    }

    .experience .exp .date > i,
    .experience .exp .date-lg > i {
        display: none;
    }

    .experience .exp .ecole > h2 {
        font-size: 20px;
    }

    /* ************************************************************
    * Div class="professionnel" > class center > class recommandation
    ************************************************************ */
    .recommandation .cone {
        background-color: var(--color-secondary-first);
        color: var(--color-secondary-second);
        border-bottom: none;
    }

    .recommandation .cone i {
        font-size: 30px;
    }

    .recommandation .cone h2 {
        font-size: 20px;
    }

    .recommandation .agence {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}